.container {
  border-radius: 10px;
  background-color: white;
  padding: 20px 40px;
}

.insights-header {
  /* border: 1px red solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  min-height: 40px;
  max-height: 40px;
}

.insights-header h2 {
  font-size: 24px;
  color: #1a1a3f;
}

.insights-cards {
  /* border: 1px red solid; */
  display: flex;
  gap: 50px;
}

.insight-card {
  flex: 1 0 20%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 200px;
  aspect-ratio: 1/1;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  padding: 15px;
}

.icon-red {
  background-color: #fa5a7e;
}

.icon-orange {
  background-color: #ff947a;
}

.icon-green {
  background-color: #3bd856;
}

.insight-title {
  font-weight: 600;
  font-size: 18px;
  color: #1a1a3f;
  margin-bottom: 5px;
}

.insight-value {
  font-size: 16px;
  color: #6d6d80;
}

/* Colors for each card */
.card-red {
  background-color: #ffe2e5;
}

.card-orange {
  background-color: #fff4df;
}

.card-green {
  background-color: #dcfce7;
}
