.chart-container {
  padding: 10px 30px;
  background-color: white;
  border-radius: 10px;
}

.control-panel {
  display: flex;
  gap: 20px;
  justify-content: right;
  align-items: center;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #dbeafe;
}

.button.active {
  background-color: #dbeafe;
  color: #0A6ACA;
}

.apply-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.apply-button:hover {
  background-color: #2563eb;
}

.apply-button:focus {
  outline: none;
}
